[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/ricardonunosr/glfw
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/ricardonunosr/spdlog
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/ricardonunosr/glm.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/ricardonunosr/stb
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ricardonunosr/imgui
